<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Search & Pagination</title>
</head>
<body>
    <h3>SEARCH PRODUCT BY NAME + PAGINATION</h3>

    <form action="/product/search-and-page" method="get">
        <input name="keywords" th:value="${keywords}" placeholder="Keywords?">
        <button>Search</button>
    </form>

    <table border="1" style="width:100%">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Date</th>
        </tr>
        <th:block th:each="item: ${page.content}">
            <tr>
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${#numbers.formatDecimal(item.price, 0, 'COMMA', 0, 'POINT')}"></td>
                <td th:text="${#dates.format(item.createDate, 'yyyy-MM-dd')}"></td>
            </tr>
        </th:block>
    </table>

    <div>
        <a th:if="${!page.first}" th:href="@{|/product/search-and-page?p=0|}">First</a>
        <a th:if="${!page.first}" th:href="@{|/product/search-and-page?p=${page.number - 1}|}">Previous</a>
        <a th:if="${!page.last}" th:href="@{|/product/search-and-page?p=${page.number + 1}|}">Next</a>
        <a th:if="${!page.last}" th:href="@{|/product/search-and-page?p=${page.totalPages - 1}|}">Last</a>
    </div>

    <ul>
        <li>Số thực thể hiện tại: <span th:text="${page.numberOfElements}"></span></li>
        <li>Trang số: <span th:text="${page.number}"></span></li>
        <li>Kích thước trang: <span th:text="${page.size}"></span></li>
        <li>Tổng số thực thể: <span th:text="${page.totalElements}"></span></li>
        <li>Tổng số trang: <span th:text="${page.totalPages}"></span></li>
    </ul>
</body>
</html>
